@import url("https://fonts.cdnfonts.com/css/satoshi");
body {
  font-family: "Satoshi", sans-serif;
  background: #050917;
  background: linear-gradient(
    90deg,
    rgba(5, 9, 23, 1) 0%,
    rgba(148, 148, 148, 1) 50%,
    rgba(5, 9, 23, 1) 100%
  );
}
