.bg-shadow {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .left {
    left: -50%;
  }
  .right {
    right: -50%;
  }
}
