@import url("https://fonts.cdnfonts.com/css/satoshi");

.intro-text {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: -550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;

  .left {
    position: absolute;
    top: -200%;
  }
  span {
    width: 250px;
    color: #666e8a;
    font-size: 20px;
    transition: all 0.5s ease;
    position: relative;
    left: -600px;
  }
  div {
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 190px;
      height: 75%;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      font-weight: bold;
      overflow: hidden;
      cursor: pointer;
      color: white;
      font-size: 16px;
      font-family: "Satoshi", sans-serif;
      margin-left: 10px;
      position: relative;
      top: 200px;
      transition: all 0.3s ease;
    }
    .btn-bg {
      background: #f7d7e6;
      background: linear-gradient(90deg, #e0e0e0 0%, #e1f0fe 50%, #e0e0e0 100%);
      transition: all 0.3s ease;
      color: black;
    }
  }
}
.svg {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .mouse,
  .arrow {
    width: 40px;
    height: 40px;
    stroke: rgb(255, 255, 255);
    fill: currentColor !important;
    color: rgb(255, 255, 255);
  }
}
