.intro-text {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: -400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 250px;
    color: #c5c9e0;
    font-size: 22px;
  }
  div {
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 180px;
      height: 75%;
      border-radius: 30px;
      background-color: rgba(238, 233, 233, 0.1);
      border: none;
      font-weight: bold;
      overflow: hidden;
      cursor: pointer;
    }
    .btn-bg {
      background: #f7d7e6;
      background: linear-gradient(90deg, #e0e0e0 0%, #e1f0fe 50%, #e0e0e0 100%);
      transition: all 0.3s ease;
      margin-left: 10px;
    }
  }
}
