.intro-text {
  width: 80%;
  height: 150px;
  background-color: aliceblue;
  margin: 0 auto;
  position: relative;
  top: -400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 200px;
    color: white;
  }
}
