@import url("https://fonts.cdnfonts.com/css/satoshi");

.nav-bar {
  margin: 20px auto;
  width: 59%;
  height: 60px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #1a1a2e;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* bóng nhẹ */

  border: 1px solid floralwhite;
  .logo {
    width: 23%;

    h4 {
      font-size: 28px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      position: relative;
      left: 38px;
    }
  }

  nav {
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
  }
  .btn {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    button {
      width: 180px;
      height: 85%;
      border-radius: 30px;
      background: #f7d7e6;
      border: none;
      font-weight: bold;
      overflow: hidden;
      cursor: pointer;
      background: #f7d7e6;
      background: linear-gradient(90deg, #e0e0e0 0%, #e1f0fe 50%, #e0e0e0 100%);
      transition: all 0.3s ease;
      position: relative;

      .text {
        position: absolute;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }
      .original {
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      .hover-text {
        top: -100%;
        opacity: 0;
      }
      &:hover .original {
        top: 100%;
        opacity: 0;
      }
      &:hover .hover-text {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}
