@import url("https://fonts.cdnfonts.com/css/satoshi");

.nav-bar {
  margin: 20px auto;
  width: 59%;
  height: 60px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo {
    width: 23%;

    h4 {
      font-size: 28px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      position: relative;
      left: 38px;
    }
  }

  nav {
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    span {
      cursor: pointer;
      border-radius: 20px;
      padding: 15px;

      transition: background-color 0.3s ease;
      &:hover {
        background-color: #4f789e;
      }
    }
  }
  .btn {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    button {
      width: 170px;
      height: 75%;
      border-radius: 30px;
      background: #f7d7e6;
      border: none;
      font-weight: bold;
      overflow: hidden;
      cursor: pointer;
      background: #f7d7e6;
      background: linear-gradient(90deg, #e0e0e0 0%, #e1f0fe 50%, #e0e0e0 100%);
      transition: all 0.3s ease;
      position: relative;
      left: 10px;
      .text {
        position: absolute;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }
      .original {
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      .hover-text {
        top: -100%;
        opacity: 0;
      }
      &:hover .original {
        top: 100%;
        opacity: 0;
      }
      &:hover .hover-text {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}
