.video-side {
  width: 100%;
  height: 100vh;
  position: relative;
  top: -1000px;
  h1 {
    font-size: 80px;
    color: #2f3343;
    font-weight: 100;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    line-height: 80px;
    text-transform: uppercase;
  }
}
